.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* transform: translateY(50%); */
}

.group-picker-container {
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  display: block;
  min-width: 231.5px;
  width: 100% !important;
  max-width: 483px;
}

/* the code below is for the dropdown heading */
.setting-description {
  background-color: #fff;
  border-radius: 15px 15px 0px 0px;
  min-width: 231.5px;
  width: 100% !important;
  max-width: 483px;
  box-shadow: 0 1px 2px #afafaf;
}

span {
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.setting-description-text {
  padding: 10px 0;
  color: #2374e1;
}

/* the code below is for the dropdown menu */
.wrapper-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 231.5px;
  width: 100% !important;
  max-width: 483px;
  padding: 0px 0px 0px 0px;
  min-height: 44px;
  border-radius: 0px 0px 15px 15px;
  background: #fff;
  text-align: left;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 1px 2px #afafaf;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.arrow {
  margin-left: 10px;
  margin-right: 10px;
  float: right;
  rotate: 180deg;
}

.selected-display {
  margin-left: 20px;
}

svg {
  transition: all 0.3s;
}

.wrapper-dropdown::before {
  position: absolute;
  top: 50%;
  right: 16px;

  margin-top: -2px;

  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.rotated {
  transform: rotate(-180deg);
}

.wrapper-dropdown .dropdown {
  transition: 0.3s;

  position: absolute;
  top: 120%;
  right: 0;
  left: 0;

  margin: 0;
  padding: 0;

  list-style: none;

  z-index: 99;

  border-radius: 15px;
  box-shadow: inherit;
  background: inherit;

  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;
  visibility: hidden;
}

.wrapper-dropdown .dropdown li {
  padding: 0 15px;
  line-height: 45px;
  overflow: hidden;
}

.wrapper-dropdown .dropdown li:last-child {
  border-bottom: none;
}

.dropdown {
  padding: 0.5rem !important;
}

.wrapper-dropdown .dropdown li:hover {
  background-color: #2374e1;
  color: #fff;
  border-radius: 10px;
}

.wrapper-dropdown.active .dropdown {
  opacity: 1;
  visibility: visible;

  border-radius: 15px;
}

.fb-group-item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.fb-group-item span {
  padding: 0 20px;
}
